{%extends 'base.html'%}

{%block content%}
    <h1>제목 : {{product.title}}</h1>
    <h2>내용 : {{product.content}}</h2>
    <h2>작성자 : {{product.author}}</h2>
    <h2>가격 : {{product.price}}</h2>
    {% if request.user != product.author %}
        <form action="{%url 'products:jjim' product.pk%}" method="POST">
            {%csrf_token%}
            {%if request.user in product.jjimed.all%}
                <button type="submit">찜 취소</button>
            {%else%}
                <button type="submit">찜</button>
            {%endif%}
        </form>
    {%endif%}

    {%if product.image%}
        <h1>이미지있음</h1>
    {%endif%}

    {%if request.user == product.author %}
        <form action="{%url 'products:update' product.pk%}" method="GET">
            <button type="submit">수정하기</button>
        </form>
        <form action="{%url 'products:delete' product.pk%}" method="POST">
            {%csrf_token%}
            <button type="submit">삭제하기</button>
        </form>
    {%endif%}
    <hr>
    <form action="{%url 'products:create_comment' product.pk%}" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit">등록</button>
    </form><hr>
    {% for comment in comments %}
        <ol>
            {{ comment.author }}
            {{ comment.content }}
        {%if comment.author == request.user%}
            <form action="{%url 'products:update_comment' comment.pk%}" method="GET">
                <button type="submit">수정</button>
            </form>
            <form action="{%url 'products:delete_comment' comment.pk%}" method="POST">
                {%csrf_token%}
                <button type="submit">삭제</button>
            </form>
        {%endif%}
        </ol>
    {% endfor %}
    

{%endblock content%}