{%extends 'base.html'%}

{%block content%}
    <h1>제목 : {{product.title}}</h1>
    <h2>내용 : {{product.content}}</h2>
    <h2>작성자 : {{product.author}}</h2>
    <h2>가격 : {{product.price}}</h2>

    {%if product.image%}
        <h1>이미지있음</h1>
    {%endif%}

    {%if request.user == product.author %}
        <form action="{%url 'products:update' product.pk%}" method="GET">
            <button type="submit">수정하기</button>
        </form>
        <form action="{%url 'products:delete' product.pk%}" method="POST">
            {%csrf_token%}
            <button type="submit">삭제하기</button>
        </form>
    {%endif%}
    <hr>
    <form action="" method="POST">
        {%csrf_token%}
        {{form.as_p}}
        <button>등록</button>
    </form>
{%endblock content%}