{%extends 'base.html'%}

{%block content%}
<h1>Let's shopping</h1>
<form action="{%url 'products:search_and_sort'%}" method="GET">
    <input type="text" name="search" id="search">
    <button type="submit" name="sort" value="jjim">인기순으로 검색</button>
    <button type="submit" name="sort" value="recent">최신순으로 검색</button>
</form>
<ul>
    {%for product in products%}
    <li>{{product.pk}} 
        <a href="{%url 'products:detail' product.pk%}">{{product.title}}</a>
        <div style="color:blue">
            {%for hashtag in product.hashtags.all%}
                #{{hashtag.title}}
            {%endfor%}
        </div>
    </li>
    {%endfor%}
</ul>
<form action="{%url 'products:create'%}" method="GET">
    <button type="submit">글 작성</button>
</form>
{%endblock content%}