{%extends 'base.html'%}

{%block content%}
<div class="p-2 m-2">
    <h1 class="p-1" style="width: 60%; background-color: black; color: white; border-radius: 30px;">Let's shopping</h1>
</div>
<div class="row">
    <div>

    </div>
    <div>
        <a href="{% url 'products:create' %}" class="float-end m-2">
            <button class="btn btn-primary">글 작성</button>
        </a>
        <form action="{% url 'products:search_and_sort' %}" method="GET">
            <input type="text" name="search" id="search" class="form-control">
            <div class="m-2" style="float: right;">

                <button type="submit" name="sort" value="jjim" class="btn btn-danger">인기순으로 검색</button>
                <button type="submit" name="sort" value="recent" class="btn btn-info">최신순으로 검색</button>
            </div>
        </form>
    </div>
</div>

<div class="d-flex flex-wrap">
    {% for product in products %}
    <div class="card text-bg-dark m-3" style="width: 30%;">
        <img src="{{ product.image.url }}" class="card-img-top">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title">
                    <{{ product.title }}>
                </h5>
                <h5 class="card-content">
                    <img src="{{product.author.profile_image.url}}" style="width: 25px;">
                    <a href="{%url 'accounts:mypage' product.author.pk%}" style="text-decoration: none; color: white ;">
                        {{ product.author }}
                    </a>
                </h5>
            </div>
            {%if product.price != 0 %}
            <p class="card-text" style="width: 60%; background-color: gray; border-radius: 30px;">
                <strong>￦ {{ product.price }}</strong>
            </p>
            {%else%}
            <p class="card-text" style="width: 60%; background-color: red; border-radius: 30px;">
                <strong>나눔 중!</strong>
            </p>
            {%endif%}
            <a href="{% url 'products:detail' product.pk %}" class="btn btn-primary mb-1">
                <strong>글 자세히 보기</strong>
            </a>
            <div style="color:red">
                {% for hashtag in product.hashtags.all %}
                #{{ hashtag.title }}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock content%}